.tracker {
    text-align: center;
  }
  
  .symptoms {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .symptomButton {
    background-color: #f0f0f0;
    border: 2px solid #fde2e4;
    padding: 10px 20px;
    margin-left: 5%; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    max-width: 10%;
  }
  
  .symptomButton:hover {
    background-color: #fde2e4;
  }
  
  .selected {
    background-color: #a2d2ff;
    color: white;
  }
  
  .disclaimer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
  }
  