.homeContainer {
  display: flex;
  flex-direction: column; /* Stack content vertically on smaller screens */
  justify-content: center;
  align-items: center;
  padding: 20px; /* Reduced padding */
  min-height: 100vh;
  background-color: #A9C9FF;
}

.textContent {
  flex-basis: 100%; /* Full width on small screens */
  margin-bottom: 20px; /* Spacing between text and image */
}

.title {
  font-size: 2rem; /* Slightly smaller font for smaller screens */
}

.subtitle {
  font-size: 1.2rem;
}

.imageContainer {
  flex-basis: 100%;
}

.groupImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .homeContainer {
    flex-direction: row; /* Original layout for larger screens */
    padding-right: 80px;
    padding-left: 80px;
  }

  .textContent, .imageContainer {
    flex-basis: 50%; /* Original flex basis for larger screens */
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
