.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex; /* Ensures proper alignment of child elements */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Spreads out logo and nav items */
}

.logo {
  padding: 1rem;
  max-width: 35%; /* Adjust width as necessary, maybe a fixed width in px */
  height: auto;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  list-style: none;
  margin: 0; /* Remove default margin */
  flex-grow: 1; /* Allows navList to take up the rest of the space */
}

.navLink {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navLink:hover, .navLink:focus {
  color: #5f27cd;
  background-color: #f9f9f9;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    
  }

  .logo {
    width: 100%; /* Full width */
    padding: 0.5rem;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navLink {
    width: 100%;
    text-align: left;
    padding: 0.8rem 1rem;
  }
}
